<div class="form-group">
  <label for="createdAt">Date</label>
  <input type="Date"
         class="form-control"
         name="createdAt"
         value="<%= style.createdAt %>">
</div>

<div class="form-group">
  <label for="type">Type</label>
  <input type="text"
         class="form-control"
         name="type"
         value="<%= style.type %>">
</div>

<div class="form-group">
  <label for="duration">Duration</label>
  <input type="text"
         class="form-control"
         name="duration"
         value="<%= style.duration %>">
</div>

<div class="form-group">
  <label for="cost">Cost</label>
  <input type="integer"
         class="form-control"
         name="cost"
         value="<%= style.cost %>">
</div>

<div class="form-group">
  <label for="stylist">Stylist</label>
  <input type="text"
         class="form-control"
         name="stylist"
         value="<%= style.stylist %>">
</div>

<div class="form-group">
  <label for="salonName">Salon</label>
  <input type="text"
         class="form-control"
         name="salonName"
         value="<%= style.salonName %>">
</div>

<div class="form-group">
  <label for="salonLocation">Salon Location</label>
  <input type="text"
         class="form-control"
         name="salonLocation"
         value="<%= style.salonLocation %>">
</div>

<div class="form-group">
  <label for="notes">Notes</label>
  <input type="text"
         class="form-control"
         name="notes"
         value="<%= style.notes %>">
</div>

<div class="form-group">
  <label for="media">Pictures</label>
  <input type="file"
         class="form-control"
         name="thumbnail"
         value="<%= style.media %>">
</div>

<div class="form-group">
  <label for="haircutRating">Haircut Rating</label>
  <input type="text"
         class="form-control"
         name="haircutRating"
         value="<%= style.haircutRating %>">
</div>
