<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>

    <h3>Edit</h3>
    <form class="style-form" action="/styles/<%= style._id %>?_method=PUT" method="post">

      <div class="form-group">
        <label for="avatar_url">Picture</label>
          <input type="file" id="file_input" name="avatar_url" value=""/>
          <p id="status">Please select a file</p>
          <img style="width:200px; height:200px;" id="preview" src=
            <% if ( style.avatar_url == null) { %>
              "/images/default.png"
            <% } else { %>
              "<%= style.avatar_url %>"
            <% } %>
            />
          <input type="hidden" id="avatar_url" name="avatar_url" value=
            <% if ( style.avatar_url == null) { %>
              "/images/default.png"
            <% } else { %>
              "<%= style.avatar_url %>"
            <% } %>
          />
      </div>

      <div class="form-group">
        <label for="date">Haircut Date</label>
          <input type="Date"
                 class="form-control"
                 name="date"
                 value="<%= style.date %>"/>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
          <input type="text"
                 class="form-control"
                 name="type"
                 value="<%= style.type %>"/>
      </div>

      <div class="form-group">
        <label for="tools">Tools</label>
          <input type="text"
                 class="form-control"
                 name="tools"
                 value="<%= style.tools %>"/>
      </div>

      <div class="form-group">
        <label for="duration">Duration</label>
          <input type="text"
                 class="form-control"
                 name="duration"
                 value="<%= style.duration %>"/>
      </div>

      <div class="form-group">
        <label for="cost">Cost</label>
          <input type="integer"
                 class="form-control"
                 name="cost"
                 value="<%= style.cost %>"/>
      </div>

      <div class="form-group">
        <label for="stylist">Stylist</label>
          <input type="text"
                 class="form-control"
                 name="stylist"
                 value="<%= style.stylist %>"/>
      </div>

      <div class="form-group">
        <label for="salonName">Salon</label>
          <input type="text"
                 class="form-control"
                 name="salonName"
                 value="<%= style.salonName %>"/>
      </div>

      <div class="form-group">
        <label for="salonLocation">Salon Location</label>
          <input type="text"
                 class="form-control"
                 name="salonLocation"
                 value="<%= style.salonLocation %>"/>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
          <input type="text"
                 class="form-control"
                 name="notes"
                 value="<%= style.notes %>"/>
      </div>

      <div class="form-group">
        <label for="haircutRating">Overall Rating</label>
          <input type="text"
                 class="form-control"
                 name="haircutRating"
                 value="<%= style.haircutRating %>"/>
      </div>

      <a href="/styles" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
    <% include ../partials/pictureFunctions %>
</body>
</html>
