<div class="form-group">
  <label for="username">Username</label>
  <input type="text"
         class="form-control"
         name="username"
         value="<%= style.username %>">
</div>

<div class="form-group">
  <label for="email">email</label>
  <input type="text"
         class="form-control"
         name="email"
         value="<%= style.email %>">
</div>

<div class="form-group">
  <label for="first_name">First Name</label>
  <input type="text"
         class="form-control"
         name="first_name"
         value="<%= style.first_name %>">
</div>

<div class="form-group">
  <label for="last_name">Last Name</label>
  <input type="integer"
         class="form-control"
         name="last_name"
         value="<%= style.last_name %>">
</div>

<div class="form-group">
  <label for="location">Location</label>
  <input type="text"
         class="form-control"
         name="location"
         value="<%= style.location %>">
</div>

<div class="form-group">
  <label for="biography">Biography</label>
  <input type="text"
         class="form-control"
         name="biography"
         value="<%= style.biography %>">
</div>

<div class="form-group">
  <label for="profile_pic"></label>
  <input type="text"
         class="form-control"
         name="profile_pic"
         value="<%= style.profile_pic %>">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="password"
         class="form-control"
         name="password"
         value="<%= style.password %>">
</div>
